/* Reset */
* {
  box-sizing: border-box;
}

/* Page */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: #000;

  /* mobile tap comfort */
  touch-action: manipulation;
}

/* Pixi canvas */
canvas {
  display: block;
  width: 100%;
  height: 100%;

  /* prevent text/image selection */
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
